@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(../../Content/Images/Background.jpg);">
    <h1 style="color:honeydew">Celestial Services</h1>
    <p class="lead" style="color:lightgray">Welcome to the World's Greatest Ledger: Celestial Services</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Access your account</p>
        <p>@Html.ActionLink("Login", "Login", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Create an Account</h2>
        <p>Join us by creating an account</p>
        <p>@Html.ActionLink("Register", "Register", "Home", new { @class = "btn btn-default" })</p>
    </div>
</div>