

@{
    ViewBag.Title = "Withdrawal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Withdrawal</h2>

@using (Html.BeginForm("Withdrawal", "UserAccount", FormMethod.Post))
{
    <p>
        @Html.TextBox("amount") <br />
        <input type="submit" value="Withdraw funds" />
    </p>
}

<p>@Html.ActionLink("Back", "UserIndex", "UserAccount", new { @class = "btn btn-default" })</p>